.response_card{
    border-style: solid;
    box-shadow: 0 0 15px rgb(241, 126, 207);
    border-radius: 10px;
    font-size: large;
    margin: 10px;
    padding: 15px;
    max-width: 250px;
    min-height: 200px;
}
main{
    margin-left: 15pt;
    margin-right: 15pt;
}
.response_cont{
 display: flex;
 flex-direction: row;
 justify-content: center;
 flex-wrap: wrap;
}
.response_cont1{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
   }